body{
    margin: 0;
    padding: 0;
}
.header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    gap: 10px;
}
.text{
    margin-top: 220px;
    margin-left: 100px;
}
.image{
    text-align: right;
    margin-right: 40px;
}

.image-change{
    width: 400px;
    height: 450px;
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 120px;
    margin-right: 60px;
    

}
.font_icon{
    padding-top: 20px;
    font-size: 30px;
    color: aliceblue;
    
    
}
.font_icon>a{
    border-radius: 50%;
    color: white;
    padding: 5px;
    background-color: rgb(185, 185, 182);
    
    
}
.font_icon>:hover{
    background-color: blue;
}
.p_text{
    color: blue;
}
.text_2{
    text-align: center;
    background-color:rgb(155, 174, 174);
    margin-top: 40px;
    padding-top: 30px;
}
.text_1{
    background-color: rgb(155, 174, 174);
}
.grid_cloumens{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: rgb(155, 174, 174);
    margin-left: 80px;
    padding-right: 110px;
    padding-bottom: 30px;
    padding-top: 30px;
    
    gap: 1%;
}
.grid_c{
    border-radius: 15px;
    background-color:white;
    padding: 15px;
    
}
.grid_c1{
    border-radius: 15px;
    background-color:white;
    padding: 15px;
}
.grid_c2{
    border-radius: 15px;
    background-color:white;
    padding: 15px;
}
.grid_c3{
    border-radius: 15px;
    background-color:white;
    padding: 15px;
}
.ti{
    font-size: 35px;
    border-radius: 10px;
    background-color: rgba(29, 206, 219, 0.773);
    margin: 5px;
    
    
}
.text_0{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color:white;
}
.btn{
    background-color: white;
    text-align: right;
    border-radius: 15px;
    padding-right: 110px;
    padding-top: 20px;
}
.b1{
    
    font-size: 20px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: blue;
    color: wheat;
}
.text_h{
    padding-left: 80px;

}

.btn>:hover{
    background-color: rgb(70, 70, 150);
}
.child{
    padding-top: 30px;
    padding-left: 80px;
    
    
    background-color:white;
    
}
.span_0{
    padding-left: 15px;
    font-size: larger;

}
.ch{
    font-size: 20px;
    border-radius: 15px;
    background-color: aqua;
    margin: 2px;
    
}
.count{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 20px;
    padding-left: 73px;
    margin-left: 10px;
    
    
}
.child_1{
    
    border-left: 2px solid blue;
    padding-left: 20px;
    
    
    
    
}
.span_1{
    
    text-align: right;
    padding-right: 110px;
    padding-top: 20px;
}
.p1{
    color: blue;
}
.foter_child{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding-left: 88px;
    padding-top: 20px;
}
.foter_child>*{
    background-color: rgb(209, 229, 222);
    border-radius: 20px;
    padding-left: 10px;
}
body.dark{
    background-color: rgb(63, 61, 61);
}

